
@media screen and (max-width: 576px) { 
  #countryDetailsTitle{
    font-size:1.4em;
  }
  #countryDetails{
    padding-left: 0px;
    font-size: 1.2em;
    padding-bottom: 13px;
  }  

  #countrySelect{
    margin-right:1px;
  }

  .modal-footer{
    justify-content: center;
  }

 #lists{
    padding: -0.5rem 1rem;
  }

}

@media screen and (min-width: 1400px) { 

  #search {
    margin-right:25px;
  }

  #countrySelect{
    font-size:26px;
  }

  #countryDetails{
    font-size:1.3em;
    padding-bottom: 1.3em;
  }

  #countryDetailsTitle{
    font-size:1.4em;
  }

  #title{
    font-size:2em;
  }
}

html,body{
  overflow:hidden;
  min-height:100%;
} 

#map{
  z-index: 20;
  height: 100vh;
  width:100vw;
  overflow:hidden;
}

/* The select bar container. */
#search{
  padding-bottom: 10px;
  border-bottom: 1px solid #6c757d; 
  padding-right:10px;
  padding-left:10px;
}

#title{
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  padding-bottom:10px;
  margin-left:10px;
}

#countrySelect{
  font-family: 'Lato', sans-serif;
  font-size:20px;
  display:block;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none; 
}

#mapContainer{
  height:100vh;
  width:100vw;
}

.countryInfo{
  position:absolute;
  left:0;
  z-index: 1060;
  font-family: 'Lato', sans-serif;
  font-size:0.9em;
}

#flag {
  height: 4em;
  padding-top:10px;
}

.info {
  margin-right: 1.2em;
  margin-left:1.2em;
}

.forecastImg {
  float: left;
  height: 80px;
}

.btn-secondary,.btn-danger{
  font-size:20px;
}

::placeholder {
  color: #a3a8ac;
}

.ui-menu-item {
  border: 1px solid #6c757d;
  font-family: 'Lato', sans-serif;

}
#closeBtn{
  padding-left:39px;
}

#weatherModalList,
.forecastList {
  text-transform: capitalize;
}

.forecastList {
  background-color: #6c757d;
  color: #f8f9fa;
  font-size: 0.5em;
  display: inline-grid;
  list-style-type: square;
  font-family: 'Lato', sans-serif;

}

.forecastList li:first-child {
  list-style: none;
  color: #fd7e14;
  font-weight: bold;
}

.list-group-item {
  background-color: #6c757d;
  font-family: 'Lato', sans-serif;
  font-size:30px;
}

#modalInfo,
#modalBody {
  font-size: 0.9em;
  font-family: 'Lato', sans-serif;
}

.modal-body{
  max-height: 70vh;
  overflow-y:scroll;
  font-family: 'Lato', sans-serif;
  font-size:20px;
}

.forecastImg {
  float: left;
  height: 80px;
}

.monument-marker-cluster {
  background-color: rgba(153, 200, 146, 0.8);
}

.monument-marker-cluster div {
  background-color: rgba(175, 213, 170, 0.6);
}

.marker-cluster span {
  line-height: 30px;
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}

.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  border-radius: 15px;
  font: 12px 'Lato', sans-serif, Helvetica, sans-serif;
  color: #f8f9fa;
}

.fa-bars:before {
  padding:10px;
}

#cityBtn{
  margin-bottom:12px;
}

#monumentBtn{
  margin-bottom:12px;
}

.slideMenu{
  position: absolute;
  z-index: 100;
}

#sliderContainer{
  padding:0;
  margin-top:6px;
  display:hidden;
}
